@import '~antd/dist/antd.css';

.App {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

.login-success {
  font: inherit;
  font-weight: bold;
  font-size: 18px;
  display: table;
  color: white;
}

.container {
  content: "";
  display: inline-flexbox;
  clear: both;
}

.container div {
  float: left; 
}

.global-header {
  height: 64px;
  padding: 0 16px;
  width: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.site-layout .site-layout-background {
  background: #fff;
}

.not-found {
  position: fixed;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.error {
  font: inherit;
  font-size: 14px;
  display: block;
  color: #e91010;
}

#dropdown-menu {
  float: right;
  padding: 0 15px;
}

.dropdown-menu-item {
  position: relative;
  top: 29px; 
  margin: 0;
  padding: 0;
  text-align: left;
}

.ant-advanced-search-form {
  padding: 24px 12px;
  /* background: #fff; */
  /* border: 1px solid #d9d9d9; */
  border-radius: 2px;
  color: #fff;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.ant-advanced-search-form .ant-form-item .ant-form-item-label > label {
  color: #fff;
}
.ant-advanced-search-form .ant-form-item .ant-checkbox-wrapper {
  color: #fff;
}
.ant-advanced-search-form .send_button {
  text-align: center;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font: bold;
  color: #fff;
}

.dot {
  height: 11px;
  width: 11px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.welcome {
  display: 'inline-block'; 
  text-align: 'center';
  width: '100px';
  word-wrap: 'break-word';
  margin-left: '-4px';
}

#wrapper {
  display: flex;
}

#left {
  flex: 0 0 33%;
  min-width: '288px';
}

#search {
  display: 'inline-flex';
  min-width: '288px';
}

#right {
  flex: 1;
  text-align: right;
}

.header-nav {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.fields {
  height: 400px;
  width: 300px;
  padding: 24px;
  overflow-x: auto;
  margin-bottom: 15px;
}


.main {
  -webkit-tap-highlight-color: transparent;
  line-height: 1.42857143;
  font-family: Prompt,sans-serif;
  font-size: 16px;
  color: #595959;
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}

.header {
  -webkit-tap-highlight-color: transparent;
  line-height: 1.42857143;
  font-family: Prompt,sans-serif;
  font-size: 16px;
  color: #595959;
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background: linear-gradient(to bottom,#005a28 0,#006A31 100%);
  padding: 10px 0 5px;
  }

.tpc-form {
  margin: 15px 45px;
  top: 0;
  color: #f9f9f9;
  transition: all .2s ease;
  font-family: Prompt,sans-serif;
  /* font-size: 16px; */
  -webkit-font-smoothing: antialiased;
}

.tpc-form-input ant-row ant-form-item{
  color: #f9f9f9;
}

.p_center {
  text-align: center;
  width: 100%;
}

.p_center_card {
  text-align: center;
  opacity: 1;
  background: linear-gradient(to bottom,#005a28 0,#006A31 50%);
  color: #f9f9f9;
  
}

.wrap_text {
  word-wrap: normal;
}

.lotto-form-button {
 width: 40vw;
 background-color: #860707;
}